body {
  background-image: url("../media/pink.jpg");
  width: 80%;
  margin: 0 auto;
}

header {
  display: inline;
  text-align: center;
}

h1 {
  font-size: 3em;
  font-family: 'Gabriela', Arial, serif;
  margin-left: 0.3em;
}

header ul {
  list-style-type: none;
  position: relative;
  display: inline;
  text-align: center;
}

header ul li {
  display: inline;
  text-align: center;
}

header ul li a{
  text-decoration: none;
  color: purple;
  display: inline;
  font-size: 3.5em;
  text-align: center;
  font-family: 'Tangerine', Arial, serif;
}

strong {
  font-weight: 800;
}

p {
  margin-left: 0.5em;
}

h2 {
  margin-left: 0.5em;
}

ul li {
  margin-left: 0.5em;
}

ul {
  margin-left: 0.5em;
}

.homepage h2 {
  color: orange;
}

.homepage ul li {
  font-family: Arial, Helvetica, sans-serif;
  color: brown;
}

.homepage p {
  font-size: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
}

.homepage main ul {
  background-image: url("../media/background1.jpg");
}

.homepage footer {
  background-color: whitesmoke;
}

.respage #education ul {
  color: orange;
}

.respage #awards ul {
  color: gold;
  font-size: 1.5em;
}

.respage main {
  background-color: whitesmoke;
  padding-bottom: 7.5em;
}

.respage #contact p {
  font-family: 'Tangerine', Arial, serif;
  font-size: 2em;
  font-weight: 500;
}

.respage h1 {
  text-align: center;
  clear: both;
}

.respage h2 {
  clear: both;
}


.respage main p {
  float: left;
  margin-left: 1em;
}

.logopage main {
  background-color: #0e3386;
  padding-bottom: 10em;
}

.logopage h1 {
  color: #cc3433;
}

.logopage h2 {
  color: #cc3433;
  font-size: 2em;
  clear: both;
}

.logopage p {
  color: #cc3433;
  font-size: 1.5em;
}

.logopage img {
  width: 8%;
  height: 8%;
  background-color: white;
  margin-left: 1em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  margin-right: 1em;
  float: left;
  clear: both;
}

.logopage iframe {
  margin-left: 1em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  margin-right: 1em;
  position: fixed;
  bottom: 2em;
  right: 2em;
  width: 20%;
  height: 20%;
}

#box {
  width: 50em;
  height: 40em;
  background-color: green;
  overflow: hidden;
  margin: 0 auto;
}

#beyond {
  width: 48em;
  height: 47em;
  background-color: red;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 40.625em) {
  .homepage ul li a {
    font-size: 2em;
    color: white;
  }
  
  .homepage h1 {
    font-size: 1.5em;
  }
  
  .homepage main ul {
    background-image: url("../media/android.jpg");
  }
  
  .homepage footer {
    background-color: purple;
  }
  .homepage ul li {
    font-family: 'Gabriela', Helvetica, sans-serif;
    color: yellow;
  }
   
    .homepage h2 {
      color: green;
  }
}

@media screen and (min-width: 58.125em) {
  .homepage h2 {
    color: aqua;
  }
    .homepage ul li a {
    font-size: 4em;
    color: purple;
  }

  .homepage ul li {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
  }

  .homepage p {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
  }

  .homepage main ul {
    background-image: url("../media/background1.jpg");
  }

  .homepage footer {
    background-color: aquamarine;
  }
  .homepage h1 {
    font-size: 3em;
  }
}